{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action = "/password" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="pass" placeholder="Password" type="password"/>
            </div>
            
            <div class="form-group">
                <input class="form-control" name="confirmpass" placeholder="Confirm Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </fieldset>
    </form>
{% endblock %}
