<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for i in s2 %}
                <th>{{i}}</th>    
            {% endfor %}
            
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            {% for i in matrix[0] %}
                <td>{{i[0]}}</td>
            {% endfor %}
        </tr>
        {% for i in range(s1|length) %}
            <tr>
                <th>{{s1[i]}}</th>
                <th>{{i + 1}}</th>
                {% for j in matrix[i + 1] %}
                    <td>{{ j[0] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>